<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">

    <testsuites>
        <testsuite name="Todo Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <!-- Include all PHP files in the backend for coverage -->
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <junit outputFile="junit-report-backend.xml"/>
    </logging>

</phpunit>
